ul {
    list-style-type: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; 
    padding-left: 0;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  